.cookie_box{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #EAFAFF;
    display: flex;
    justify-content: center;
}
.cookie_box_caption{
    font-family: Fahkwang;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 130%;
    margin: 40px auto 16px auto;
}
.label_cookie_checkbox{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    
}
.description_cookie{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #5B5B5B;
    margin-bottom: 16px;
    padding-left: 28px;
}
.btn_container{
    margin: 8px auto 38px auto;
}
.btn_container button{
    font-family: Fahkwang;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    padding: 16px 32px;
}
.btn_save{
    outline: none;
    background: #1078D8;
    border-radius: 50px;
    color: #FFFFFF;
    border: none;
    margin-right: 24px;
    position: relative;
}
.btn_save:hover{
    background: #2295FF;
}
.btn_save:active{
    background: #0060B8;
}
.btn_more{
    outline: none;
    border-radius: 50px;
    border: #1078D8 solid 2px;
    background: transparent;
    margin-top: 24px;
}
.btn_more:hover{
    border-color: #2295FF;
}
.btn_more:active{
    border-color: #0060B8;
}
/*--------------------------------
button:nth-child(5)
    background-color: rgba($mint, .1)
    border-radius: 50px
    color: $mint
  button:nth-child(5):hover
    background-color: rgba($mint, .2)
    &:before
      content: ' '
      border-radius: 20px
      border: 2px $mint solid
      position: absolute
      left: 135px
      top: 56px
      box-sizing: border-box
      width: 95px
      height: 40px
      transition: all .7s ease
      animation: grow 1s infinite
-------------------------------------*/
.btn_save:hover:before{
    content: ' ';
    border-radius: 50px;
    border:  #2295FF solid 2px;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: all .7s ease;
    animation: grow 1s infinite;
}
@keyframes grow {
  from{
    transform: scale(0,0);
    opacity: 1; }
  to{
    transform: scale(1.5,1.5);
    opacity: 0; }
}

@media (max-width: 420px){

    .btn_save{
        margin: 0;
    }
    .cookie_box > .additional{
        padding: 0 1rem;
    }
    .cookie_box_caption{
        font-size: 20px;
    }
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #1078D8;
    background: #ffffff;
}
input[type="checkbox"]:checked + label:hover::before, 
input[type="checkbox"]:not(:checked) + label:hover::before{
    border-color: #1078D8;
    border-width: 2px;
    margin-top: -1px;
    margin-left: -1px;
}
input[type="checkbox"]:checked + label:active::before, 
input[type="checkbox"]:not(:checked) + label:active::before{
    background: #1078D8;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 0px;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 5px;
    width: 9px;
    height: 3px;
    border-radius: 1px;
    border-left: 3px solid  #1078D8;
    border-bottom: 3px solid #1078D8;
    transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}