.Header{
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeaderNavBlock {
    max-width: 1440px;
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.ul_nav {
    display: flex;
    width: auto;
}
.nav_block {
    margin-left: 48px;
    font-family: Fahkwang;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}
.nav_link {
    cursor: pointer;
    color: #000;
}
.nav_link:hover{
    color: #1078D8;
}
.MobuleMenu{
	display: none;
	cursor: pointer;
}
@media screen and (max-width: 1480px) {
	.HeaderNavBlock{
		width: 1140px;
	}
}

@media screen and (max-width: 1260px){
    .HeaderNavBlock{
        margin: 0 2rem;
    }
}

@media screen and (max-width: 860px) {
	.MobuleMenu{
		display: block;
	}
	.ul_nav{
		display: none;
	}
}
@media screen and (max-width: 490px){
    .HeaderNavBlock{
        margin: 0 1rem;
    }
}