.submit_form{
    outline: none;
    width: 332px;
    height: 56px;
    background: #1078D8;
    border-radius: 160px;
    border: none;
    text-align: center;
    font-family: Fahkwang;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px auto 128px auto;
}
.submit_form:hover{
    background: #2295FF;
}

.submit_form:active{
    background: #0060B8;
}

.submit_form_img{
    background: url(../img/request/1_img.svg);
    width: 16px;
    height: 12px;
    margin-right: 14px;
}

@media (min-width: 320px) {
    .request_caption{
        width: 300px;
        margin: 33px auto 24px auto;
    }
    .request_caption > p{
        width: 300px;
        height: 64px;
        font-family: Fahkwang;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
    }

    .request_site_img{
        width: 320px;
        height: 480px;
        margin: auto;
        background: url(../img/request/3_img.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .request_title_form{
        font-family: Fahkwang;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
        margin: 24px auto 32px auto;
        width: 300px;
        height: 136px;
    }

    .input_txt{
        outline: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        display: block;
        width: 300px;
        height: 48px;
        margin: 8px auto;
        border: 1px solid #BBBBBB;
        padding: 13px 20px;
        color: #5F5F5F;
    }

    .input_txt:hover{
        border: 1px solid #70AADF;
    }

    .input_txt:active, .input_txt:focus{
        border: 1px solid #1078D8;
    }

    ._comments{
        height: 118px;
    }

    .comments{
        outline: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        border: 1px solid #BBBBBB;
        resize: none;
        padding: 13px 20px;
        color: #5F5F5F;
        width: 300px;
        height: 118px;
    }

    .comments:hover{
        border: 1px solid #70AADF;
    }

    .comments:active, .comments:focus{
        border: 1px solid #1078D8;
    }

    #d_name{
        display: none;
        content: "Votre nom";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_log{
        display: none;
        content: "Votre prénom";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_email{
        display: none;
        content: "Votre courriel";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_phone{
        display: none;
        content: "Votre numéro de téléphone";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_comments{
        display: none;
        content: "Commentaires";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    form > label{
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        color: #5F5F5F;
        position: relative;
        display: block;
        width: 300px;
        height: 48px;
        margin: 8px auto;
    }

    .submit_form{
        width: 300px;
    }
}
@media (min-width: 375px) {
    .request_caption{
        width: 335px;
        margin: 33px auto 24px auto;
    }
    .request_caption > p{
        width: 335px;
        height: 64px;
        font-family: Fahkwang;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
    }

    .request_site_img{
        width: 375px;
        height: 480px;
        margin: auto;
        background: url(../img/request/3_img.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .request_title_form{
        font-family: Fahkwang;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
        margin: 24px auto 32px auto;
        width: 335px;
        height: 136px;
    }

    .input_txt{
        outline: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        display: block;
        width: 335px;
        height: 48px;
        margin: 8px auto;
        border: 1px solid #BBBBBB;
        padding: 13px 20px;
        color: #5F5F5F;
    }

    .input_txt:hover{
        border: 1px solid #70AADF;
    }

    .input_txt:active, .input_txt:focus{
        border: 1px solid #1078D8;
    }

    ._comments{
        height: 118px;
    }

    .comments{
        outline: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        border: 1px solid #BBBBBB;
        resize: none;
        padding: 13px 20px;
        color: #5F5F5F;
        width: 335px;
        height: 118px;
    }

    .comments:hover{
        border: 1px solid #70AADF;
    }

    .comments:active, .comments:focus{
        border: 1px solid #1078D8;
    }

    #d_name{
        display: none;
        content: "Votre nom";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_log{
        display: none;
        content: "Votre prénom";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_email{
        display: none;
        content: "Votre courriel";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_phone{
        display: none;
        content: "Votre numéro de téléphone";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_comments{
        display: none;
        content: "Commentaires";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    form > label{
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        color: #5F5F5F;
        position: relative;
        display: block;
        width: 335px;
        height: 48px;
        margin: 8px auto;
    }
}
@media (min-width: 1024px) {
    .request_caption{
        width: 944px;
        margin: 48px auto;
    }
    .request_caption > p{
        width: 583px;
        height: 84px;
        font-family: Fahkwang;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 130%;
    }

    .request_site_img{
        width: 1024px;
        height: 500px;
        margin: auto;
        background: url(../img/request/2_img.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .request_title_form{
        font-family: Fahkwang;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        margin: 48px auto 32px auto;
        width: 705px;
        height: 72px;
    }

    .input_txt{
        outline: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        display: block;
        width: 705px;
        height: 48px;
        margin: 8px auto;
        border: 1px solid #BBBBBB;
        padding: 13px 20px;
        color: #5F5F5F;
    }

    .input_txt:hover{
        border: 1px solid #70AADF;
    }

    .input_txt:active, .input_txt:focus{
        border: 1px solid #1078D8;
    }

    ._comments{
        height: 118px;
    }

    .comments{
        outline: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        border: 1px solid #BBBBBB;
        resize: none;
        padding: 13px 20px;
        color: #5F5F5F;
        width: 705px;
        height: 118px;
    }

    .comments:hover{
        border: 1px solid #70AADF;
    }

    .comments:active, .comments:focus{
        border: 1px solid #1078D8;
    }

    #d_name{
        display: none;
        content: "Votre nom";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_log{
        display: none;
        content: "Votre prénom";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_email{
        display: none;
        content: "Votre courriel";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_phone{
        display: none;
        content: "Votre numéro de téléphone";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_comments{
        display: none;
        content: "Commentaires";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    form > label{
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        color: #5F5F5F;
        position: relative;
        display: block;
        width: 705px;
        height: 48px;
        margin: 8px auto;
    }
}
@media (min-width: 1440px) and (min-width: 1024px) {
    .request_caption{
        width: 1440px;
        margin: 48px auto;
    }
    .request_caption > p{
        width: 583px;
        height: 84px;
        font-family: Fahkwang;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 130%;
    }

    .request_site_img{
        width: 1440px;
        height: 500px;
        margin: auto;
        background: url(../img/request/0_img.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .request_title_form{
        font-family: Fahkwang;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        margin: 48px auto 32px auto;
        width: 705px;
        height: 72px;
    }

    .input_txt{
        outline: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        display: block;
        width: 705px;
        height: 48px;
        margin: 8px auto;
        border: 1px solid #BBBBBB;
        padding: 13px 20px;
        color: #5F5F5F;
    }

    .input_txt:hover{
        border: 1px solid #70AADF;
    }

    .input_txt:active, .input_txt:focus{
        border: 1px solid #1078D8;
    }

    ._comments{
        height: 118px;
    }

    .comments{
        outline: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        border: 1px solid #BBBBBB;
        resize: none;
        padding: 13px 20px;
        color: #5F5F5F;
        width: 705px;
        height: 118px;
    }

    .comments:hover{
        border: 1px solid #70AADF;
    }

    .comments:active, .comments:focus{
        border: 1px solid #1078D8;
    }

    #d_name{
        display: none;
        content: "Votre nom";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_log{
        display: none;
        content: "Votre prénom";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_email{
        display: none;
        content: "Votre courriel";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_phone{
        display: none;
        content: "Votre numéro de téléphone";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    #d_comments{
        display: none;
        content: "Commentaires";
        background: #FFFFFF;
        padding: 0 10px;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    form > label{
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        color: #5F5F5F;
        position: relative;
        display: block;
        width: 705px;
        height: 48px;
        margin: 8px auto;
    }
}

